{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <div class="container">
            <!-- justify-content-md-center -->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                        <img src="{% static 'portfolio/blackAndWhite2.png' %}" id="MeImage" class="img-fluid mx-auto d-block">
                </div>
                <div class="col-1">
                </div>
                <div class="col-lg-7 col-md-7 col-12 my-auto">
                    <div class="auto-my">
                        <h1 class="display-3 text-md-left" id="headlineText">Software Developer</h1>
                        <br>
                        <h3 class="text-white text-justify">
                            Hello, I'm a self taught and highly motivated developer that is passionate about using technology to create innovative solutions to todays problems </h3>
                        <br>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="col-12" id="portfolio">
    <div class="container col-12 col-xl-10 pt-3 pb-3 mx-auto" id="portfolio">
        <h1 class="text-center display-4">Portfolio</h1>
        <hr>
        <div class="row row-cols-md-2 row-cols-lg-3">

        {% for project in projects %}
        <div class="mb-3 card-deck mx-auto">
            <div class="card mb-1 shadow" >
              <img class="card-img-top" src="{{ project.project_image.url }}" alt="Card image">
              <div class="card-body d-flex flex-column align-items-start" >
                <h4 class="card-title ">{{ project.title }}</h4>
                {% with max_chars=240%}
                    <p class="card-text pb-5 text-justify">
                        {{ project.description |truncatechars:max_chars}}
                    </p>
                {% endwith %}
                {% if project.project_url %}
                <a href="{{project.project_url}}" class="btn btn-primary mt-auto">
                    Find out more
                </a>
                {% endif %}
              </div>
            </div>
        </div>
        {% endfor %}

        </div>
    </div>
<!-- </div> -->
</div>

<div class="container col-12 pt-3 pb-5" id="aboutMe">
    <div class = "col-12 col-xl-10 mx-auto">
        <h1 class="display-4 text-center">About Me</h1>
        <hr>
        <p class="lead text-justify">I am a degree qualified Electronic Engineer based near Southampton, UK who is developing software programming skills with the ambition of changing career. </p>

        <p class="lead text-justify">Having graduated at Southampton University, I have spent 10 years in the Space industry first as a Systems engineer working on Telecommunication satellites, now as a Senior engineer working in the SatCom sector repairing ground station communication amplifiers.</p>

        <p class="lead text-justify">Having enjoyed doing some programming in my professional roles, using Python and VBA, I started to do some self learning and small projects in my spare time. In the last 18 months I have been spending a lot of my free time coding, using <a href="https:www.udemy.com" class=hyperLinkColor> Udemy </a> courses, books and online resources to learn a variety of different <a href="{% url 'home'%}#tech" class="hyperLinkColor">languages</a> and <a href="{% url 'home'%}#tech" class=hyperLinkColor>frameworks</a>. I have used this growing knowledge to create a variety of exciting and substantial <a href ="{% url 'home'%}#portfolio" class="hyperLinkColor">projects</a> using software and hardware. </p>

        <p class="lead text-justify">Since the beginning of 2020 I went part time to further accelerate my learning. I have a real passion for using technologies to solve problems and improve peoples lives and a real drive to continue to grow and develop my skills. I am actively looking to start my professional career in software development, so if you would like to find out more please <a href= "{% url 'home'%}#contactMe" class="hyperLinkColor">contact</a> me.
        </p>
    </div>
</div>

<div class="container col-12 pt-3 pb-5" id="tech">
    <div class = "col-12 col-xl-10 mx-auto ">
        <h1 class="display-4 text-center">Technologies</h1>
        <hr>
            <div class="row pt-3">
                {% for tech in technologies %}
                <div class="col-6 col-md-4 col-lg-2 mx-auto py-3">
                    <img src="{{ tech.tech_image.url }}" class="mx-auto d-block" height="100" width="100">
                    <h5 class="pt-3 text-center">{{ tech.title }}</h5>
                </div>
                {% endfor %}
            </div>
    </div>
</div>

<div class="container col-12 pt-3 pb-4" id="contactMe">
    <div class = "col-12 col-xl-10 mx-auto">
        <h1 class="display-4 text-center">Contact Me</h1>
        <hr>
        <h3 class="text-center hyperLinkColor">arlw87@googlemail.com<h3>
    </div>
</div>

<!-- <footer class="footer"> -->
    <div class="bg-dark text-white py-2">
        <p class="my-auto col-12 text-center">Github and LinkedIn icons from <a href="https://fontawesome.com/" class="hyperLinkColor" >font awesome</a> Technology icons from <a href="https://iconscout.com/contributors/icon-mafia" class="hyperLinkColor">Icon Mafia</a>, <a href="https://www.flaticon.com/authors/pixel-perfect" class="hyperLinkColor" >Pixel Perfect</a> and <a href="https://iconscout.com/contributors/vorillaz/icons" class="hyperLinkColor">Vorillaz</a> Rocket from <a href="https://www.flaticon.com/authors/pixel-perfect" class="hyperLinkColor"> Pixel Perfect</p>
    </div>
<!-- </footer> -->
{% endblock %}
