{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}

<div class="jumbotron jumbotron-fluid mb-0 mt-10">
    <div class="container">

        <div class="container">
            <!-- justify-content-md-center -->
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-12">
                        <img src="{% static 'portfolio/Me2.png' %}" id="MeImage" class="img-fluid mx-auto d-block">
                </div>
                <div class="col-lg-1 col-md-1">
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="auto-my">
                        <h1 class="display-4 text-md-left text-center text-white">Software Developer</h1>
                        <br>
                        <h3 class="text-md-left text-center text-white">Hi there, welcome to my website. Here you can view my project portfolio, find out about me and the technologies i use and contact me.</h3>
                        <br>
                        <div class="text-md-left text-center">
                            <button type="button" class="btn btn-outline-primary text-center">More About Me</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="col-lg-12" id="portfolio">
    <div class="container col-lg-11 col-md-11 pt-5 pb-5" >
        <h1 class="text-center display-4">Portfolio</h1>
        <hr>
        <div class="row">
            {% for project in projects %}
            <div class="col-lg-4 col-md-6">

            {% if project.project_url %}
            <a href="{{project.project_url}}">
                <img src="{{ project.project_image.url }}" alt='New Image' class="img-fluid mb-2">
            </a>
            {% else %}
            <img src="{{ project.project_image.url }}" alt='New Image' class="img-fluid mb-2">
            {% endif %}

            <h2>{{ project.title }}</h2>
            <p>{{ project.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div>


<div class="container col-lg-12 col-md-12 pt-5 pb-5" id="aboutMeSection">
    <div class = "col-lg-11 col-md-11">
        <h1 class="display-4 text-center">About Me</h1>
        <p>
            Trained as an electronic engineer from the university of Southampton, i have been working in the Space industry for the last 10 years. Over the years i have found that i have a passion for create and building technologic solution using software and hardware. I have therefore have decided to pursue a career change into software development.
        </p>
    </div>
</div>

<div class="container col-lg-12 col-md-12 pt-5 pb-5" id="technologies">
    <div class = "col-lg-11 col-md-11">
        <h1 class="display-4 text-center">Technologies</h1>

            <ul>
                <li>Raspberry Pi</li>
                <li>Java</li>

            </ul>

    </div>
</div>
{% endblock %}
