.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5) !important;
}

body {
    font-family: 'Lato', sans-serif;
}

#blogtitle {
    font-size: 6rem;
}

.navbar{
    background-color: #C6DCED;
}

.jumbotron{
    background-image: linear-gradient(#C6DCED, white);;
}

#aboutMeSection{
   background-color: black;
}

#technologies{
    background-color: #E2F1F6;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}

@media (max-width: 800px) {
    #MeImage {
        max-width: 70% !important;
    }
}
